commands:
  01_set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime

  02_set_swap_memory:
      test: test ! -e /var/swapfile
      command: |
        /bin/dd if=/dev/zero of=/var/swapfile bs=128M count=16
        /bin/chmod 600 /var/swapfile
        /sbin/mkswap /var/swapfile
        /sbin/swapon /var/swapfile