packages:
  apt:
    wget: []

#commands:
#  01_download_chrome:
#    command: |
#      wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb

#  02_install_chrome:
#    command: |
#      sudo dpkg -i google-chrome-stable_current_amd64.deb || true
#
#  03_fix_dependencies:
#    command: |
#      sudo apt-get install -f -y
#
#  04_check_chrome_version:
#    command: |
#      google-chrome --version || true
