packages:
  apt-get:
    wget: []
    dpkg: []

commands:
  01_update_apt_cache:
    command: "apt-get update"

  02_download_chrome:
    command: "wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"

  03_install_chrome:
    command: "dpkg -i google-chrome-stable_current_amd64.deb || apt-get install -f -y"

  04_check_chrome_version:
    command: "google-chrome --version"
