packages:
  yum:
    wget: []

commands:
  01_download_chrome:
    command: "wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"
    ignoreErrors: true

  02_install_dpkg:
    command: "yum install -y dpkg"
    ignoreErrors: true

  03_install_chrome:
    command: "dpkg -i google-chrome-stable_current_amd64.deb || true"
    ignoreErrors: true

  04_fix_dependencies:
    command: "yum install -f -y"
    ignoreErrors: true

  05_check_chrome_version:
    command: "google-chrome --version"
    ignoreErrors: true
