files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash

      # run app
      killalljava

      # user 모듈 JAR 실행
      JAR_PATH_USER=/var/app/current/deploy/user/module-user.jar
      nohup java -Dspring.profiles.active=dev -jar $JAR_PATH_USER &

      # admin 모듈 JAR 실행
      JAR_PATH_ADMIN=/var/app/current/deploy/admin/module-admin.jar
      nohup java -Dspring.profiles.active=dev -jar $JAR_PATH_ADMIN &

      echo "Both modules are now running in the background."
